[Unit]
Description=binder servicemanager

[Service]
ExecStartPre=-/bin/bash -c "mkdir -p /dev/binderfs; mount -t binder binder /dev/binderfs; ln -sf /dev/binderfs/binder /dev/binder"
ExecStart=/usr/bin/servicemanager
ExecStop=/bin/kill $MAINPID
KillMode=mixed

[Install]
WantedBy=multi-user.target

