[Unit]
Description=tee_key_inject start
After=tee-supplicant.service

[Service]
User=root
ExecStartPre=/bin/mkdir -p /factory
ExecStartPre=/bin/mount /dev/factory /factory
ExecStart=/usr/bin/tee_key_inject -p /factory

[Install]
WantedBy=multi-user.target
