[Unit]
Description=Audio Server Startup

[Service]
User=root
ExecStartPre=/bin/bash -c "mkdir -p /tmp/ds"
ExecStartPre=-/usr/bin/dolby_fw_dms12 /usr/lib/libdolbyms12.so /tmp/ds/0x4d_0x5331_0x32.so
ExecStart=/usr/bin/audio_server

[Install]
WantedBy=multi-user.target
