[Unit]
Description=hdcp Startup
After=aml_key_inject.service

[Service]
User=root
Type=oneshot
ExecStart=/usr/bin/tee_hdcp

[Install]
WantedBy=multi-user.target
