[Unit]
Description=Skyworth HDCP Startup
After=wpeframework.service
Requires=wpeframework.service

[Service]
Type=forking
User=root
ExecStartPre=/bin/usleep 1000000
ExecStartPre=/bin/sh -c 'echo 2 > /sys/class/amhdmitx/amhdmitx0/hdcp_mode'
ExecStartPre=/bin/usleep 1000000
ExecStart=/bin/sh -c '/usr/bin/hdcp_tx22 -f /lib/firmware/hdcp/firmware.le&'

[Install]
WantedBy=multi-user.target
